header h1 {
  padding-left: 4%; }

.content-wrapper {
  width: 85%;
  margin: 0 auto; }
  .content-wrapper h2 {
    text-align: center; }

.highlight {
  color: #056805;
  border-bottom: 2px solid #056805; }

.item {
  padding: 10px;
  border-radius: 10px;
  background-color: #f7f7f7;
  margin-bottom: 20px; }

.like-box {
  width: 15%;
  min-width: 120px;
  background-color: #00b900;
  border-radius: 25px; }
  .like-box img {
    width: 100%; }

.image-wrapper {
  max-width: 45%; }
  .image-wrapper img {
    border-radius: 10px;
    width: 100%; }

.elec-power {
  text-align: center; }

.lang {
  margin-bottom: 8px; }

.table {
  margin: 0 auto 64px auto;
  border-spacing: 0; }
  .table th {
    color: #333;
    font-weight: bold;
    background-color: #ebebeb; }
  .table td {
    padding: 10px;
    border: 1px solid #ebebeb; }

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  height: 110vh;
  position: relative; }
  .footer .content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
